*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Poppins';
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .styled-table thead tr {
        background-color: #211338;
        color: #ffffff;
        text-align: left;
    }

    .styled-table h5 {
        text-align: center;
        color: #593196;
        
        width:auto;
        display:float;
        justify-content:center;
        align-items:baseline;
        padding:8px;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }


        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #211338;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
