@model IEnumerable<Bus>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Hotel Booking Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/Home/index2.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</head>

@*// -- Data picker JS --- //*@
<script>
    $(function() {
              $('#datepicker').datepicker();
          });
</script>

<body>



    <script>

        window.addEventListener("scroll", function() {
          var header = document.querySelector("sticky-toggle");
          header.classList.toggle("sticky", window.scrollY > 0)
        })
    </script>


    <section class="home" id="home">
        <div class="container">
            <h1 class="text-white">BD Poribohon</h1>
            <p class="text-white">Bangladesh's one of the largest bus company</p>

            <form asp-action="SearchBus" method="get">
                <div class="content grid">
                    <div class="box">
                        <label><span>Start Point:</span></label>

                        <select name="SearchFrom" class="custom-select"
                                asp-items="Html.GetEnumSelectList<Route>()"></select>
                    </div>
                    <div class="box">
                        <label><span>Destination:</span></label>

                        <select name="SearchTo" class="custom-select"
                                asp-items="Html.GetEnumSelectList<Route>()"></select>
                    </div>
                    <div class="box">
                        <label><span>Choose Class:</span></label>

                        <select name="SeachBusType" class="custom-select"
                                asp-items="Html.GetEnumSelectList<BusType>()"></select>
                    </div>
                    <div class="box">
                        <div class="input-group date" id="datepicker">
                            <label><span>Choose Date:</span></label>
                            <div class="row">
                                <input class="col-8  text-center border-3" name="datePassing" type="text">
                                <span class="col text-center input-group-append">
                                    <span class="input-group-text bg-white">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <label><span></span></label>

                        <button type="submit" class="flex1">
                            <span>Find Bus</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </section>



    <section class="about" id="about">
        <div class="container">
            <div class="heading">
                <h5>Explore</h5>
                <h2>
                    Our fecilities
                </h2>
            </div>

            <div class="content flex  top">
                <div class="left">
                    <h3>
                        Cover all Bangladesh Routes
                    </h3>
                    <p>
                        Only our bus service is available in all routes of Bangladesh.
                        Day by day popularity of our company is increasing.
                    </p>
                    <p>Do you want to checkout our available buses?</p>
                    <button class="flex2">
                        <a asp-action="searchBus" class="text-white">Check All Bus</a>
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
                <div class="">
                    <img src="https://www.sustainable-bus.com/wp-content/uploads/2019/12/Schermata-2019-12-06-alle-09.59.28.png" alt="" width="674px" height="347px" />
                </div>
            </div>
        </div>
    </section>


    <section class="wrapper2">
        <div class="container">
            <div class="heading mtop">
                <h5>Buy Fast</h5>
                <h2>What are you waiting for! </h2>
            </div>


            <div class="content grid mtop">
                @foreach (Bus bus in Model)
                {
                    Enum dhaka = Route.Dhaka;
                    if (!bus.From.Equals(dhaka)) continue;
                    <div class="box card text-white" style="text-align:left">

                        <a asp-action="searchBus" asp-route-SearchFrom=1 asp-route-SearchTo=2 asp-route-SeachBusType=1 asp-route-datePassing=@DateTime.Now.Date class="text-white">
                            <div class="card-header">
                                @bus.From    To    @bus.To
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <p>Type: @bus.Type</p>
                                    <p>Cost: @bus.Cost TK</p>
                                </div>

                            </div>

                            <span class='far fa-long-arrow-alt-right' style="text-align:right"></span>
                        </a>
                    </div>
                }

            </div>

        </div>
    </section>


    <section class="room wrapper3 top" id="room">
        <div class="container">
            <div class="heading">
                <h5>OUR ROOMS</h5>
                <h2>Fascinating rooms & suites </h2>
            </div>
            <div class="content flex mtop">
                <div class="left grid2">
                    <div class="box">
                        <i class="fa-solid fa-credit-card"></i>
                        <p>Payment</p>
                        <h3>Easy to Pay</h3>
                    </div>
                    <div class="box">
                        <i class="fa-solid fa-shield"></i>
                        <p>Journey</p>
                        <h3>Safe Journey </h3>
                    </div>
                    <div class="box">
                        <i class="fa-solid fa-circle-check"></i>
                        <p>24/7</p>
                        <h3>Reservations 24/7</h3>
                    </div>
                    <div class="box">
                        <i class="fa-solid fa-wifi"></i>
                        <p>Wi-Fi</p>
                        <h3>High-speed Wi-Fi</h3>
                    </div>
                    <div class="box">
                        <i class="fas fa-mug-hot"></i>
                        <p>Food</p>
                        <h3>Free snacks</h3>
                    </div>
                    <div class="box">
                        <i class="fa-solid fa-chair"></i>
                        <p>Comfort</p>
                        <h3>Comfortable Seat</h3>
                    </div>
                </div>
                <div class="right">
                    <img src="~/image/bus_2.jpg" alt="" width="674px" height="347px">
                </div>
            </div>
        </div>
    </section>



    <section class="offer mtop" id="services">
        <div class="container">
            <div class="heading">
                <h5>EXCLUSIVE OFFERS </h5>
                <h3>You can get an exclusive offer </h3>
            </div>

            <div class="content grid2 mtop">
                <div class="box flex">
                    <div class="left">
                        <img src="image/o1.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4>Deluxe Room</h4>
                        <div class="rate flex">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h5>From $50.6/night</h5>
                        <button class="flex1">
                            <span>Check Availability</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
                <div class="box flex">
                    <div class="left">
                        <img src="image/o2.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4>Deluxe Room</h4>
                        <div class="rate flex">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h5>From $50.6/night</h5>
                        <button class="flex1">
                            <span>Check Availability</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
                <div class="box flex">
                    <div class="left">
                        <img src="image/o3.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4>Deluxe Room</h4>
                        <div class="rate flex">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h5>From $50.6/night</h5>
                        <button class="flex1">
                            <span>Check Availability</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
                <div class="box flex">
                    <div class="left">
                        <img src="image/o4.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4>Deluxe Room</h4>
                        <div class="rate flex">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h5>From $50.6/night</h5>
                        <button class="flex1">
                            <span>Check Availability</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>


</html>