@using Bus_Ticket_System.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManger;

@{

    ViewBag.Title = "Index";
}




    @if (signInManger.IsSignedIn(User))
    {
        <p>OKKKKKKKKKK</p>

    }

